<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/hamburgers.css" />
    <title>Your Profile</title>
</head>
<body>

    <nav class="nav-bar">
        <div class="mcon">
        <button class="hamburger hamburger--collapse menu" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        <div class="links"> 
          <a href="/" class="hlink"> <span class="head"> Libro </span> </a>
          <a href="/" class="link"> <span >Home</span> </a>
          <a href="/profile" class="link"> <span >Profile</span> </a>
          <% if(name==="admin") {%>
            <a href="/addbook" class="link"> <span >Add Book</span> </a>
          <%}%>
          <a href="/login" class="link"> <span >Login</span> </a>
          <a href="/logout" class="link"> <span>Logout</span> </a>
        </div>
        
        <div class="profile-name">
            <h4>Hello, <%=name%></h4>
        </div>

    </nav>

    <div class="linkDiv" style="display: none;">
        <div> <a href="/">Home</a> </div>
        <div> <a href="/profile">Profile</a> </div>
        <% if(name==="admin") {%>
            <div> <a href="/addbook">Add book</a> </div>
           <%}%>
        <div> <a href="/login">Login</a> </div>
        <div> <a href="/logout">Logout</a> </div>
     </div>

    <section>
        <div class="Ptitle">
            <h2>Your Books</h2>
            <h4>Here is a list of your borrowed books. click the button to return</h4>
        </div>
    
        <div class="container">
           <div class="books">
                <%borrowedBooks.forEach((items)=>{%>
                   <div class="book mybook">
                    <div class="image"><img src="<%=items.cover%>" alt="cover" height="250px" width="200px"/></div>
                    <div class="Bname"><h3><%=items.name%></h3></div>
                    <div class="author"><h5>by:<%=items.author%></h5></div>
                    <!-- <div class="description"><p><%=items.description%></p></div> -->
                    <a href="/return/<%= items.id %>"><button class="btn onLoan" type="button" value="onLoan">Return</button></a>
                   </div>
                <%})%>
           </div>
        </div>
    </section>

    <script>
        const menu = document.getElementsByClassName("menu")[0];
        const links = document.getElementsByClassName("linkDiv")[0];;
        const myclass = "is-active";
       
        menu.addEventListener("click",()=>{
            if (menu.classList.contains(myclass)) {
                menu.classList.remove(myclass);
                links.style.display="none";
            } 
            else {
                menu.classList.add(myclass);
                links.style.display="flex";
            }
        })
    
        menu.addEventListener("focusout", (event) => {
        const relatedTarget = event.relatedTarget;
        if (!menu.contains(relatedTarget) && !links.contains(relatedTarget)) {
            menu.classList.remove(myclass);
            links.style.display = "none";
        }
    });
    </script>
    
</body>
</html>